!!! 5
html(lang="en")
  head
    title Pipe It!
    link(href='main.css', rel='stylesheet', type='text/css')
    script(src='jquery-1.7.1.min.js')
    script(src='main.js')
    script(type='text/javascript')
      // Google Analytics
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27191932-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    h1 Pipe It!
    #container
      block content
        p Woo content!
        #dropbox Drop files here!
        #progress 0%
    #footer
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://pipeit.io" data-text="pipeit.io: Send your files over the series of tubes! via @dickeytk @whatgoodisaroad" data-count="horizontal" data-related="dickeytk:whatgoodisaroad">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
